
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Flask Pokédex</title>
    <script src="https://kit.fontawesome.com/abb211c046.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- Pokédex Header -->
    <div class="header">
        <img id="titulo-img" src="{{ url_for('static', filename='pokelogo.png') }}" alt="Pokémon Logo">
        <!-- Search Bar -->
        <form action="/" method="post">
            <input type="text" name="search" placeholder="Search Pokémon">
            <input type="submit" value="Search">
        </form>
    </div>
    
    <!-- Pokédex Container -->
    <div class="container">
        <ul class="pokemons">
            {% for poke in pokemons %}
            <li class="poke-container {{poke['types'][0]['type']['name']}}">
                <div id="pokebola-icon">
                    <h2 class="id">{{ poke['id'] }}</h2>
                </div>
                <h1 class="nome">{{ poke['name'] }}</h1>
                <img src="{{ poke['sprites']['front_default'] }}">
                <!-- As description is not available in the new data, I'm omitting it -->
                <hr>
                {% if poke['types']|length == 1 %}
                    <p class="tipo"><b>Tipo: </b>{{ poke['types'][0]['type']['name'] }}</p>
                {% else %}
                    <p class="tipo"><b>Tipo: </b>{{ poke['types'][0]['type']['name'] }} / {{ poke['types'][1]['type']['name'] }}</p>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Footer -->
    <div class="footer">
        <a href="https://github.com/dreamkatana/" target="_blank"><i class="fab fa-github fa-3x"></i></a>
    </div>
</body>

</html>
